table {
    border-collapse: collapse;
    width: 100%;
    border: 1px;
    font-size: smaller;
    table-layout: auto;
}

table td {
    color: rgb(28, 143, 214);
    max-width: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

td:hover {
    max-width: 200px;
    word-wrap: break-word;
    overflow: visible;
    white-space: normal;
}

.table_header {
    background-color: #b4e5e8;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

tr {
    background-color: #fffcfc;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
}